# Build output
build/

# macOS
.DS_Store

# Xcode
*.xcuserstate
xcuserdata/
DumbosRadio.xcodeproj/xcuserdata/
DumbosRadio.xcodeproj/project.xcworkspace/xcuserdata/
*.moved-aside
*.orig

# Swift Package Manager
.build/
*.resolved
